$primary-color: #008753;
$secondary-color: #ffffff;
$secondary-color-transparent: rgba($secondary-color, 0.85);
$tertiary-color: #8f9391;
$quaternary-color: #000000;
$quaternary-color-transparent: rgba($quaternary-color, 0.85);

$vs-code-font: Menlo, Consolas, monaco, monospace;
$sub-text-size: 1.1rem;
$highlight-color: #14d086;
$header-height: 13vh;

$phone-screen-width: 415px;
$laptop-screen-width: 1200px;
