$primary-color: #2daf7d;
$secondary-color: #ffffff;
$highlight-color: #14d086;
$quaternary-color: #000000;
$quaternary-color-transparent: rgba($quaternary-color, 0.85);

$title-font: "Roboto", sans-serif;
$subtitle-font: "Roboto Mono", monospace;
$text-font: "KoHo", serif;

$title-size: 5rem;
$subtitle-size: 3rem;
$text-size: 1.6rem;
$header-height: 13vh;

$phone-screen-width: 415px;
$laptop-screen-width: 1200px;
