@import "src/global-styles/variables.scss";

#ABOUT {
  height: 100vh;
  width: 100vw;
  background-color: $quaternary-color;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .about-me-content {
    color: white;
    width: 35%;
    height: fit-content;
    text-align: left;
    background-color: rgba(#000000, 0.8);
    padding: 0 5%;
    z-index: 1;
    position: relative;
    right: 15%;
    display: flex;
    flex-flow: column nowrap;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
    p {
      font-size: $text-size;
      font-family: $text-font;
    }
  }
  .fade-in {
    opacity: 1;
    transition: unset;
    animation: fade-in-down 1.25s 1 linear;
  }
  h2 {
    font-family: "Roboto" monospace;
    font-size: 4rem;
    font-family: $title-font;
    margin: 3rem 0 2rem 0;
  }
  h3 {
    color: $tertiary-color;
    font-size: 2rem;
    font-family: $subtitle-font;
    margin: 0;
  }
  .profile-pic {
    width: 60%;
    border-radius: 100%;
    position: relative;
    left: -5%;
    z-index: 0;
  }
  .socials {
    display: flex;
    flex-flow: row nowrap;
    height: 75px;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
    margin-bottom: 20px;
    .icon-link {
      border-radius: 50%;
      width: 45px;

      img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg)
          brightness(102%) contrast(103%);
        width: 100%;
      }
    }
    .icon-link:hover {
      img {
        filter: invert(81%) sepia(9%) saturate(2656%) hue-rotate(100deg)
          brightness(70%) contrast(102%);
      }
    }

    .about-button {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $title-font;
      font-style: normal;
      font-weight: bold;
      font-size: $text-size;
      text-decoration: none;
      border: 2px $tertiary-color solid;
      background-color: transparent;
      color: $tertiary-color;
      border-radius: 30px;
      height: fit-content;
      padding: 10px 40px;
    }
    .about-button:hover {
      background-color: $primary-color;
      color: white;
    }
  }
  @media screen and (max-width: $large-screen-width) {
    .about-me-content {
      width: 40%;
      right: 10%;
      padding: 0 5%;
      p {
        font-size: $text-size-large-screen;
      }
    }
    .profile-pic {
      width: 55%;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    .socials {
      gap: 20px;
      .about-button {
        font-size: $text-size-large-screen;
        padding: 10px 20px;
      }
      .icon-link {
        width: 35px;
      }
    }
  }
  @media screen and (max-width: $small-screen-width) {
    .about-me-content {
      flex-shrink: 0;
    }
    h2 {
      font-size: 2.75rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
}
