@import "src/global-styles/variables.scss";

$icon-width: 40px;
$logo-white: #d6d6d6;
#HEADER {
  display: grid;
  grid-template-rows: $header-height;
  grid-template-columns: 15vw 67.5vw 17.5vw;
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background-image: linear-gradient(
    rgba($quaternary-color, 0.6),
    rgba($quaternary-color, 0)
  );
  opacity: 80%;
  .menu {
    text-align: center;
    margin-top: 2.5vh;
    background-color: #0f190e;
    // background-color: $quaternary-color-transparent;
    flex-flow: column nowrap;
    height: fit-content;
    width: 12.5vw;
    gap: 15px;
    padding: 10% 3% 5% 3%;
    justify-self: center;
    display: flex;
    cursor: pointer;
    grid-column: 3;
    animation: expand-down 0.25s linear 1;
    overflow: hidden;
    border: $tertiary-color solid 2px;
  }
  .menu-open {
    max-height: 40vh;
  }
  .menu-link {
    display: block;
    margin: 15px 0;
    color: $secondary-color;
    font-family: $subtitle-font;
    font-size: $text-size;
    font-weight: bold;
    text-decoration: none;
  }
  .menu-link:hover {
    color: $tertiary-color;
  }
  .white {
    filter: invert(94%) sepia(13%) saturate(36%) hue-rotate(338deg)
      brightness(93%) contrast(84%);
  }
  .whiter {
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(33deg)
      brightness(97%) contrast(99%);
  }
  .logo {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    .logo-icon {
      width: 75px;
    }

    .green {
      filter: invert(81%) sepia(9%) saturate(2656%) hue-rotate(100deg)
        brightness(70%) contrast(102%);
    }
    .logo-text {
      width: 100px;
      top: 5px;
      position: relative;
    }
    .logo-icon-dark {
      margin: -2px;
      width: 62.5px;
    }
  }

  .hamburger-menu {
    background-color: transparent;
    grid-row: 1;
    grid-column: 3;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    border: none;
    margin-right: 2.5vw;
  }
  .hamburger-menu > svg {
    width: 90px;
    height: 90px;
    transform: scaleX(-1);
  }
  .close-menu {
    background-color: transparent;
    grid-row: 1;
    grid-column: 3;
    width: fit-content;
    height: fit-content;
    align-self: end;
    cursor: pointer;
    border: none;
    img {
      border: none;
      width: 40px;
      padding: 10px 15px;
    }
  }
  .logo-spin {
    animation-name: spin;
    animation-duration: 750ms;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.1, 0.3, 0.8, 1);
    animation-timing-function: linear;
  }
  .logo-text-appear {
    animation-name: appear;
    animation-duration: 1.75s;
    animation-fill-mode: both;
  }
  .logo-text-disappear {
    animation-name: disappear;
    animation-duration: 1.75s;
    animation-fill-mode: both;
  }
  .socials {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    align-self: center;
    margin: 20px 0px;
  }
  .social-link {
    cursor: pointer;
    max-width: fit-content;
  }
  .social-link img {
    width: $icon-width;
    filter: invert(99%) sepia(99%) saturate(0%) hue-rotate(77deg)
      brightness(109%) contrast(101%);
  }
  .social-link > img:hover {
    filter: invert(57%) sepia(73%) saturate(385%) hue-rotate(105deg)
      brightness(86%) contrast(92%);
  }

  @media screen and (max-width: $large-screen-width) {
    grid-template-columns: 20vw 60vw 20vw;
    .logo {
      .logo-icon {
        width: 60px;
      }
      .logo-text {
        width: 75px;
      }
    }
    .hamburger-menu svg {
      width: 70px;
    }
    .menu-link {
      font-size: $text-size-large-screen;
    }
    .social-link img {
      width: 30px;
    }
    .menu {
      width: 17.5vw;
    }
  }
}
